header{
    background-color: lightslategray;
    text-align: center;
}

.cardcontainer{
    margin: 0px;
    padding-left: 30px;
    background-color: darkslateblue;
}

.container{
border-style: solid;

}

#side-bar{
    display:inline-block;
    
}